body,
html {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width:  100%;
}
body{
    background: url(hd.jpg) center center no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.startup {
    height: 100vh;
    
}
p{
    font-size: 1.3em;  
}
a{
    margin: .5em;
}
i{
    margin-right: .2em;
}